@import url("https://use.typekit.net/suk5mct.css");

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: "Proxima Nova"; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
header {
    min-height: 10vh;
}
main {
    min-height: 70vh;
}
footer {
    min-height: 20vh;
}
.gridcontainer {
    display: grid;
    grid-template-areas:
      'nav'
      'header'
      'body'
      'footer';
}
h1 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}




  /* HEADER */
.logo {
    display: flex;
    justify-content: space-between;
}
.NAV li {
    display: inline-block;
}
.NAV li a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    padding: 8px;
}
.NAV li a:hover {
    text-decoration: underline;
}
.title3 {
    padding-bottom: 65px;
}
  /* HEADER */








  /* FORSIDE */
.forside {
    background-image: url("./media/forside.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 15%;
    font-size: 15px;
}
.høyrestilt {
    display: flex;
    justify-content: right;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.opening {
    font-size: 12px;
    font-weight: bold;
    flex-direction: column;
}
.hours {
    font-size: 12px;
    font-weight: lighter;
}
.title1 {
    padding-bottom: 20px;
}
.button-exhibitions a {
    font-weight: lighter;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.569);
    padding: 8px;
    width: 100px;
    margin: auto auto 30px auto;
    border-radius: 3px;
}
.explore-box {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 8px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: space-between;
    color: black;
    margin: 2%;
    align-items: center;
}
.explore-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}
.explore-box-text {
    display: flex;
    flex-direction: column;
    color: black;
    width: 60%;
}
.for- {
    font-size: 13px;
    padding-bottom: 3px;
    font-weight: medium;
}
.for-text {
    font-weight: lighter;
    font-size: 11px;
}
.trykkpåmeg {
    text-decoration: none;
    color: black;
    font-weight: medium;
    font-size: 11px;
    padding-top: 8px;
}
.explore-picture {
    width: 30%;
    height: 30%;
}
  /* FORSIDE */






  /* EXHIBITIONS */
.exhibitions-picture {
    background-image: url("./media/exhibitions.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exhibition-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exhibition-box {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 8px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.exhibition-box-text {
    display: flex;
    flex-direction: column;
    color: black;
    width: 60%;
    padding: 11px;
}
.exhibition-title {
    font-size: 13px;
    padding-bottom: 3px;
    font-weight: medium;
}
.exhibition-text {
    font-weight: lighter;
    font-size: 11px;
}
.exhibition-img-right {
    width: 35%;
    padding-right: 8px;
}
.exhibition-img-left {
    width: 35%;
    padding-left: 8px;
}
.image1 {
    width: 100%;
    height: 100%;
}
  /* EXHIBITIONS */





  /* EVENTS */
.events-picture {
    background-image: url("./media/events.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}
.center-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.size-box {
    max-width: 400px;
}
.event {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 30px;
}
.event-text {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding-left: 16px;
    padding-right: 30px;
    margin-left: 8px;
}
.date {
    font-weight: bold;
    font-size: 12px;
    min-width: 60px;
}
.event-title {
    font-weight: bold;
    font-size: 12px;
}
.event-info {
    font-weight: lighter;
    font-size: 12px;
}
    /* EVENTS */









    /* VISIT */
.logo-visit {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.NAV-visit li {
    display: inline;
}
.NAV-visit li a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
    padding: 8px;
}
.title2 {
    color: black;
    padding-bottom: 40px;
}
.visit-bold {
    font-weight: bold;
    font-size: 12px;
}
.visit-thin {
    font-weight: lighter;
    padding-bottom: 16px;
    font-size: 12px;
}
.visit-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.visit-text {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.visit-icon {
    padding-right: 8px;
}
.visit-dino1 img {
    width: 70px;
    margin-left: 80px;
    margin-top: 60px;
}
.jævladino {
    display: flex;
    flex-direction: row;
}
    /* VISIT */






/* PAGE REBUILD */
.rebuildingtext {
    text-align: center;
    text-decoration: none;
}
.woopsie {
    text-decoration: none;
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 30px;
}
a.sendmeback {
    background-color: #4c846d;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    margin-top: 10px;
}
a.sendmeback:hover {
    background-color: #8a61bc;
    color: white;
}
.oppussing {
    max-width: 250px;
    margin: 30px;

}
/* PAGE REBUILD */








/* FOOTER */ 
.footer-index {
    background-image: url("./media/footer-lilla.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 85px; 
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 60px;
    justify-self: flex-end;
    height: 100%;
}
.copyright {
    text-align: center;
    font-size: 8px;
    padding-left: 16px;
    padding-right: 90px;
    margin-top: 60px;
}
.some {
    font-size: 10px;
    width: 65px;
    margin-top: 60px;
}
.some > i {
    padding-right: 10px;
}
.footer-events {
    background-image: url("./media/footer-rod.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh;
}
.footer-exhibitions {
    background-image: url("./media/footer-rod.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh;
}
.footer-pagerebuild {
    background-image: url("./media/footer-gronn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh; 
}
.footer-visit {
    background-image: url("./media/footer-gronn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh; 
}
/* FOOTER */ 








/* media queries */
@media(min-width: 768px) {



/* BODY */
header {
    min-height: 10vh;
}
main {
    min-height: 50vh;
}
footer {
    min-height: 40vh;
}
h1 {
    font-size: 35px;
}
/* BODY */






/* HEADER */
.logo-small {
    display: none;
}
/* HEADER */






/* FORSIDE */
.forside {
    height: 220px;
}
.welcome {
    padding-top: 40px;
    padding-left: 20%;
    font-size: 25px;
}
.høyrestilt {
    padding-right: 20%;
}
.opening {
    font-size: 16px;
}
.hours {
    font-size: 16px;
}
.button-exhibitions a {
    font-size: 16px;
    width: 130px;
}
.explore-box {
    width: 700px;
}
.for- {
    font-size: 16px;
}
.for-text {
    font-size: 14px;
}
.trykkpåmeg {
    font-size: 14px;
}
/* FORSIDE */






/* EXHIBITIONS */
.exhibitions-picture {
    height: 220px;
}
.exhibition-box {
    max-width: 700px;
}
.exhibition-title {
    font-size: 20px;
    padding-bottom: 10px;
}
.exhibition-text {
    font-size: 16px;
}
/* EXHIBITIONS */







/* VISIT */
.visit-bold {
    font-size: 16px;
}
.visit-thin {
    font-size: 16px;
}
.visit-text {
    width: 700px;
}
.visit-dino1 img {
    width: 150px;
    margin-left: 350px;
    margin-top: 30px;
}
/* VISIT */







/* EVENT */
.events-picture {
    height: 220px;
}
.date {
    font-size: 16px;
}
.event-title {
    font-size: 16px;
}
.event-info {
    font-size: 16px;
}
.size-box {
    max-width: 700px;
}
/* EVENT */

}